<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/java/CaFour/src/test/java/org/example/TestFour.java">
        <classes>
            <class name="org.example.TestFour">
                <methods>
                    <include name="getTitleFromPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>